opensso/products/federation/library/xsd/liberty/idff-entity-config-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
  
   Copyright (c) 2006 Sun Microsystems Inc. All Rights Reserved
  
   The contents of this file are subject to the terms
   of the Common Development and Distribution License
   (the License). You may not use this file except in
   compliance with the License.

   You can obtain a copy of the License at
   https://opensso.dev.java.net/public/CDDLv1.0.html or
   opensso/legal/CDDLv1.0.txt
   See the License for the specific language governing
   permission and limitations under the License.

   When distributing Covered Code, include this CDDL
   Header Notice in each file and include the License file
   at opensso/legal/CDDLv1.0.txt.
   If applicable, add the following below the CDDL Header,
   with the fields enclosed by brackets [] replaced by
   your own identifying information:
   "Portions Copyrighted [year] [name of copyright owner]"

   $Id: idff-entity-config-schema.xsd,v 1.2 2008/06/25 05:48:40 qcheng Exp $

-->


<schema
    targetNamespace="urn:sun:fm:ID-FF:entityconfig"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:idff="urn:sun:fm:ID-FF:entityconfig"
    xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified"
    >
    <import namespace="http://www.w3.org/2000/09/xmldsig#"
	schemaLocation="xmldsig-core-schema.xsd"/>
    <element name="EntityConfig" type="idff:EntityConfigType"/>
    <complexType name="EntityConfigType">
	<sequence>
	    <element ref="ds:Signature" minOccurs="0"/>
            <element ref="idff:Attribute" minOccurs="0" maxOccurs="unbounded"/>
	    <choice>
		<sequence>
		    <element ref="idff:IDPDescriptorConfig" minOccurs="0" maxOccurs="unbounded"/>
		    <element ref="idff:SPDescriptorConfig" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<element ref="idff:AffiliationDescriptorConfig"/>
	    </choice>
        </sequence>
        <attribute name="entityID" type="anyURI" use="required"/>
        <attribute name="hosted" type="boolean" use="optional"/>
        <attribute name="ID" type="ID" use="optional"/>
    </complexType>
    <element name="IDPDescriptorConfig" type="idff:BaseConfigType"/>
    <element name="SPDescriptorConfig" type="idff:BaseConfigType"/>
    <element name="AffiliationDescriptorConfig" type="idff:BaseConfigType"/>
    <complexType name="BaseConfigType" abstract="true">
        <sequence>
            <element ref="idff:Attribute" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="metaAlias" type="string" use="optional"/>
    </complexType>
    <element name="Attribute" type="idff:AttributeType"/>
    <complexType name="AttributeType">
        <sequence>
            <element ref="idff:Value" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="name" type="string" use="required"/>
    </complexType>
    <element name="Value" type="string"/>
</schema>
