opensso/products/federation/library/xsd/liberty/lib-arch-iwsf-utility.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
  
   Copyright (c) 2006 Sun Microsystems Inc. All Rights Reserved
  
   The contents of this file are subject to the terms
   of the Common Development and Distribution License
   (the License). You may not use this file except in
   compliance with the License.

   You can obtain a copy of the License at
   https://opensso.dev.java.net/public/CDDLv1.0.html or
   opensso/legal/CDDLv1.0.txt
   See the License for the specific language governing
   permission and limitations under the License.

   When distributing Covered Code, include this CDDL
   Header Notice in each file and include the License file
   at opensso/legal/CDDLv1.0.txt.
   If applicable, add the following below the CDDL Header,
   with the fields enclosed by brackets [] replaced by
   your own identifying information:
   "Portions Copyrighted [year] [name of copyright owner]"

   $Id: lib-arch-iwsf-utility.xsd,v 1.2 2008/06/25 05:48:41 qcheng Exp $

-->


<!-- filename: lib-arch-iwsf-utility.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>Liberty Alliance Project utility schema.  A collection of common IDentity Web Services Framework (ID-WSF) elements and types. This schema is intended for use in ID-WSF schemas.</xs:documentation>
        <xs:documentation>Copyright 2003 Liberty Alliance Project</xs:documentation>
        <xs:documentation>This file intended for inclusion, rather than imporation, into other schemas. </xs:documentation>
        <xs:documentation>This version: 2003-06-04</xs:documentation>
    </xs:annotation>
    <xs:simpleType name="IDType">
        <xs:annotation>
            <xs:documentation>This type should be used to provided IDs to components that have IDs that may not  be scoped within the local xml instance document. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="IDReferenceType">
        <xs:annotation>
            <xs:documentation> This type can be used when referring to elements that are
       identified using an IDType </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="Status" type="StatusType">
        <xs:annotation>
            <xs:documentation> A standard Status type</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="StatusType">
        <xs:annotation>
            <xs:documentation> A type that may be used for status codes. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="Status" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="code" type="xs:QName" use="required"/>
        <xs:attribute name="ref" type="xs:NCName" use="optional"/>
        <xs:attribute name="comment" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="EmptyType">
        <xs:annotation>
            <xs:documentation> This type may be used to create an empty element </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="xs:anyType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Extension" type="extensionType">
        <xs:annotation>
            <xs:documentation>An element that contains arbitrary content extensions from other namespaces</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="extensionType">
        <xs:annotation>
            <xs:documentation>A type for arbitrary content extensions from other namespaces</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##other" processContents="lax" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
