opensso/products/federation/library/xsd/liberty/lib-arch-paos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
  
   Copyright (c) 2006 Sun Microsystems Inc. All Rights Reserved
  
   The contents of this file are subject to the terms
   of the Common Development and Distribution License
   (the License). You may not use this file except in
   compliance with the License.

   You can obtain a copy of the License at
   https://opensso.dev.java.net/public/CDDLv1.0.html or
   opensso/legal/CDDLv1.0.txt
   See the License for the specific language governing
   permission and limitations under the License.

   When distributing Covered Code, include this CDDL
   Header Notice in each file and include the License file
   at opensso/legal/CDDLv1.0.txt.
   If applicable, add the following below the CDDL Header,
   with the fields enclosed by brackets [] replaced by
   your own identifying information:
   "Portions Copyrighted [year] [name of copyright owner]"

   $Id: lib-arch-paos.xsd,v 1.2 2008/06/25 05:48:41 qcheng Exp $

-->


<xs:schema targetNamespace="urn:liberty:paos:2003-08" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:S="http://schemas.xmlsoap.org/soap/envelope/" xmlns="urn:liberty:paos:2003-08" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>The source code in this XSD file was excerpted verbatim from:

Liberty Reverse HTTP Binding
Version 1.0
12th November 2003

Copyright (c) 2003 Liberty Alliance participants, see
https://www.projectliberty.org/specs/idwsf_copyrights.html

        </xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="soap.xsd"/>
  <xs:include schemaLocation="lib-arch-utility.xsd"/>
  <xs:element name="Request" type="RequestType"/>
  <xs:complexType name="RequestType">
    <xs:attribute name="responseConsumerURL" type="xs:anyURI" use="required"/>
    <xs:attribute name="service" type="xs:anyURI" use="required"/>
    <xs:attribute name="messageID" type="IDType" use="optional"/>
    <xs:attribute ref="S:mustUnderstand" use="required"/>
    <xs:attribute ref="S:actor" use="required"/>
  </xs:complexType>
  <xs:element name="Response" type="ResponseType"/>
  <xs:complexType name="ResponseType">
    <xs:attribute name="refToMessageID" type="IDType" use="optional"/>
    <xs:attribute ref="S:mustUnderstand" use="required"/>
    <xs:attribute ref="S:actor" use="required"/>
  </xs:complexType>
</xs:schema>
